{% extends 'index.html' %}
{%block formulario%}
    <form class="form-subscribe" action="" method="GET" enctype="multipart/form-data">
        <!-- Email address input-->
        <div class="row">
            <div class="col">
                <input type="text" name='nombre'>Nombre </input>
            </div>
            <button type='submit' class='btn' btn-primary>ENVIAR</button>
        </div>
        <!-- Submit success message-->
        <!---->
        <!-- This is what your users will see when the form-->
        <!-- has successfully submitted-->
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
               
            </div>
        </div>
        <!-- Submit error message-->
        <!---->
        <!-- This is what your users will see when there is-->
        <!-- an error submitting the form-->
        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
    </form>
    {{respuesta}}
{%endblock formulario%}